@import "~./zul/less/_header.less";

.z-button {
	.fontStyle(@contentFontFamily, @baseFontSize, @fontWeightSemiBold, @buttonColor);
	min-height: @buttonHeight;
	border: 1px solid @buttonBorderColor;
	padding: @paddingSmall - 1 @paddingLarge - 1;
	line-height: @buttonHeight - @paddingSmall * 2 - 1;
	background: @buttonBackground;
	cursor: pointer;
	white-space: nowrap;

	&:hover {
		color: @hoverColor;
		border-color: fade(@accent2, 70);
		background: fade(@accent2, 70);
		.boxShadow(inset 0 -1px 0 @hoverShadowColor);
	}
	&:focus {
		color: @focusColor;
		border-color: fade(@accent2, 80);
		background: fade(@accent2, 80);
		.boxShadow(none);
	}
	&:active {
		color: @activeColor;
		border-color: fade(@accent2, 90);
		background: fade(@accent2, 90);
		.boxShadow(inset 0px 1px 0 @activeShadowColor);
	}
	&[disabled] {
		color: @disabledColor;
		border: 1px solid @disabledBorderColor;
		background: @disabledBackground;
		.opacity(@disabledOpacity);
		.boxShadow(none);
		cursor: default;
	}
}
