@import "zul/less/_header.less";

//<%-- breadcrumb --%>
.breadcrumb-toolbar-button {

}
.breadcrumb-toolbar-button img {

}
.breadcrumb-record-info {
	
}
.breadcrumb-toolbar-button [class^="z-icon-"] {

}

.adwindow-form > .z-grid-body {
	background-color: #F9F9F9;
}
.adwindow-form.z-grid > .z-grid-body {
	overflow: visible !important;
}

.adwindow-layout {
	position:absolute; 
	border: none;
	width: 100%;
	height: 100%;
	background-color: #F9F9F9;
}

.adwindow-layout .z-center {
	border: none;
}

.adwindow-north {
	min-height: 56px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
}

.adwindow-south {
	height: 20px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #C5C5C5 !important;
}

.adwindow-status {
	min-height: 22px;
}


.adwindow-left-nav button {
	text-align: right;
	padding: 8px 5px;
}

.adwindow-right-nav button {
	text-align: left;
	padding: 8px 5px;
}

.adwindow-navbtn-dis, .adwindow-navbtn-sel, .adwindow-navbtn-uns {
	border: 0px;
	margin-top: 3px;
}

.adwindow-navbtn-sel {
	background: white;
	border-bottom-style: inset;
	border-bottom-width: medium;
	border-bottom-color: @blueDark;
}

.adwindow-nav {
}

.adwindow-nav-content {
}


.adwindow-navbtn-uns {
    background: fade(@blueLight, 25);
}

.adwindow-navbtn-dis {
	background: @grayLighter;
	color: @grayDrak;
}


.adwindow-status-docinfo {
	display: inline-block;
	position: absolute;
	right: 4px;
	color: @baseTextColor;
}

.docstatus-normal .z-label {
	color: @baseTextColor;
}

.docstatus-error .z-label {
	color: @red;
}

.adwindow-status-docstatus {
	display: inline-block;
	float: left;
	padding-left: 4px;
}

.adwindow-toolbar {
	border: 0px;
	padding: 2px 4px 2px 75px;
	height: 36px;
	background-image: none;
	background-color: @white;
}
.adwindow-toolbar.mobile {
	position: relative;
	overflow: hidden;
}

.adwindow-breadcrumb {
	height: 30px;
	background-color: @white;
	padding: 0px;
	padding-left: 5px;
	border-bottom: 1px solid @baseBorderColor;
	clear: both;
}

.adwindow-breadcrumb .z-label {
	color: @baseTextColor;
}

.adwindow-detailpane {
	width: 100%; 
	overflow-y: visible;
}

.adwindow-detailpane-tabbox .z-tab-selected span.z-tab-text {
	cursor: pointer;
}

.adwindow-detailpane-tabbox .z-tab-selected span.z-tab-text:hover {

}

.adwindow-detailpane-tabpanel {
	background-color: @white;
}

.adwindow-detailpane-toolbar {
	border: none;
}

.adwindow-detailpane-toolbar .z-toolbar-body {
	width: 100%;
}

.adwindow-detailpane-toolbar .z-toolbarbutton {
	float: left;
	display: inline-block;
	padding: 0px;
	padding-left: 1px;
}

.adwindow-detailpane-toolbar .z-toolbarbutton img {
	width: 16px;
	height: 16px;
}

.adwindow-detailpane-toolbar .z-toolbar-body .docstatus-normal,  
.adwindow-detailpane-toolbar .z-toolbar-body .docstatus-error {
	padding-left: 4px;
	margin-top: 2px;
}

.adwindow-detailpane-toolbar .z-toolbar-body .docstatus-normal .z-label,
.adwindow-detailpane-toolbar .z-toolbar-body .docstatus-error .z-label {
	
}

.adwindow-detailpane-message {
	float: right;
}

.adwindow-detailpane-tabbox {
	width: 99%; 
	margin: auto;
}

.adwindow-detailpane-adtab-grid-south {
	background-color: transparent; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	height: 24px;
}

.adwindow-detailpane-adtab-grid-south .z-paging {
	padding: 0px !important;
}

.adwindow-detailpane-adtab-grid-south .z-paging .z-paging-inp {
	height: 16px;
	line-height: 16px;
}

.adwindow-gridview-detail {
	height: 200px;
}

.adwindow-gridview-detail + .z-south-splitter {
	border-top: 1px solid @baseBorderColor;
	border-bottom: 1px solid @baseBorderColor;
}

.adwindow-gridview-detail .z-south-body {
	padding-top: 1px;
	background-color: #D3D3D3;
}

.adwindow-gridview-borderlayout {
	position: absolute; height: 100%; width: 100%;
}

.adwindow-detailpane-sub-tab::before {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	top: 12px;
	left: 0px;
	border-top: 5px dashed transparent;
	border-left: 5px dashed #696969;
	border-right: 5px dashed transparent;
	border-bottom: 5px solid transparent;
}

//<%-- ad tab --%>
.adtab-content {
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
}

.adtab-form {
	border:none !important;
	margin:0;
	padding:0;
}

.adtab-grid {
	margin-top: -1px;
	border: none !important;
}

.adtab-grid-panel {
	position: absolute;
}

.adtab-grid-south {
	border: none;
	height: 30px;
}

.adtab-grid-south .z-paging {
	border: none;
	padding: 0;
}

.adtab-form-borderlayout {
	width: 100%; 
	height: 100%; 
	position: absolute;
}

.adtab-form-borderlayout .z-center {
	background-color: @grayLighter;
}

.adtab-form-borderlayout .z-south-collapsed:before { 
	content: 'Detail record';
	position: absolute; 
	font-size: 12px; 
	font-weight: @fontWeightBold;
	text-align: center;
	line-height: 12px;
	left: 4px;
	height: 12px;
}

@media screen and (max-height: 767px) {
	.adtab-form-borderlayout.mobile.z-borderlayout > div > .z-south-collapsed > .z-borderlayout-icon.z-icon-chevron-up {
		display: none;
	}
	.adtab-form-borderlayout.mobile.z-borderlayout > div > .adwindow-gridview-detail.z-south {
		height: 50% !important;
	}
}
@media screen and (max-height: 600px) {
	.adtab-form-borderlayout.mobile.z-borderlayout > div > .adwindow-gridview-detail.z-south {
		height: 60% !important;
	}
}
@media screen and (max-height: 500px) {
	.adtab-form-borderlayout.mobile.z-borderlayout > div > .adwindow-gridview-detail.z-south {
		height: 70% !important;
	}
}
@media screen and (max-height: 400px) {
	.adtab-form-borderlayout.mobile.z-borderlayout > div > .adwindow-gridview-detail.z-south {
		height: 80% !important;
	}
}

.adtab-grid-panel .z-center, .adtab-grid-panel .z-center-body,
.adtab-grid-panel .z-grid, .adtab-grid-panel .z-grid-header, 
.adtab-grid-panel .z-grid-body {
	width: 100% !important;
}

.grid-container {
	margin: 5px;
}

.grid-item {
	padding: 2px;
}

.field-group-label:hover, .field-group-label-collapsed:hover {
	text-decoration: none;
}

.field-group-div {
	padding: 0;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: @meshTitleBackground;
}

.field-group-div .field-group-label, .field-group-div .field-group-label-collapsed {
	color: @meshTitleColor;
}

.z-group-icon-close, .z-group-icon-open {
	display: inline-block;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.z-group-icon-close:before {
	content: "\f0da";
}

.z-group-icon-open:before {
	content: "\f0d7";
}

.form-label-heading {
	text-align: center;
}