@import "zul/less/_header.less";

.help-window {
	position: relative;
}
.help-window-header {
	padding: 10px 0 10px 20px;
}
.help-window-title {
	color: #FF0000;
}
.help-window-description {
}
.help-window-help {
}
.help-window-tabs {
	color: #0000CC;
}
.help-window-content {
	border-top: 1px solid #ddd;
}
.help-window-content-l {
}
.help-window-content-r {
	border-left: 1px solid #ddd;
	padding: 5px;
}
.help-window-tab {
	border-bottom: 1px solid #ddd;
}
.help-window-tab-header {
	background-color: #E6E6FA;
}
.help-window-tab-name {
	padding: 3px 15px !important;
	color: #000066;
}
.help-window-tab-description {
	padding: 3px !important;
}
.help-window-tab-help {
}
.help-window-fields {
	border-bottom: 1px solid #ddd;
	color: #6600CC;
	padding: 5px 15px;
}
.help-window-fields-link {
}
.help-window-field {
	border-bottom: 1px solid #ddd;
	padding: 5px 15px;
}
.help-window-field-name {
	color: #0000CC;
}
.help-window-field-description {
}
.help-window-field-help {
}

.help-window p, .help-window h3, .help-window h4, .help-window h5 {
	display: inline;
}

.help-window-content-r a {
	color: #3465a4 !important;
	text-decoration: underline;
}

.help-window-content-r a:hover {
	text-decoration: none;
}

.help-window-content-l a {
	color: #000 !important;
	text-decoration: none;
}

.help-window-content-l a:hover {
	text-decoration: none;
}

.help-window-content-l td {
	padding: 8px 20px;
	border-bottom: 1px solid #ddd;
}

.help-window-tab td {
	padding: 5px 15px 0 15px;
}

.help-window-content-l tr:hover td {
  background-color: #eee; 
}
