@import "zul/less/_header.less";

.toolbar-popup-window {
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
}
.toolbar-popup-window .z-window-content {
	padding: 0px;
}
.toolbar-popup-window.z-window.z-window-noheader {
	padding: 4px;
	padding-bottom: 0px;
}

.toolbar-popup-window.process-buttons-popup .z-button {
	white-space: nowrap;
	width: 95%;
	text-align: left;
	margin: auto;
}

.toolbar-popup-window.process-buttons-popup .toolbar-popup-window-cnt {
	padding: 8px;
}

.toolbar-popup-window::before {
	border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	left: 9px;
	position: absolute;
	top: -7px;
}

.toolbar-popup-window::after {
	border-bottom: 6px solid #FFFFFF;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 10px;
	position: absolute;
	top: -6px;
}

.toolbar-popup-window .dialog-footer {
	padding: 4px;
}
