/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
  e("src: url(${c:encodeURL('~./zul/less/font/fontawesome-webfont.eot?v=@{fa-version}')});")
  e("src: url(${c:encodeURL('~./zul/less/font/fontawesome-webfont.eot?#iefix&v=@{fa-version}')}) format('embedded-opentype'),")
    e("url(${c:encodeURL('~./zul/less/font/fontawesome-webfont.woff2?v=@{fa-version}')}) format('woff2'),")
    e("url(${c:encodeURL('~./zul/less/font/fontawesome-webfont.woff?v=@{fa-version}')}) format('woff'),")
    e("url(${c:encodeURL('~./zul/less/font/fontawesome-webfont.ttf?v=@{fa-version}')}) format('truetype'),")
    e("url(${c:encodeURL('~./zul/less/font/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular')}) format('svg');")
//  src: url(${c:encodeURL('~./zul/less/font/FontAwesome.otf')}) format('opentype'); // used when developing fonts

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  e("src: url(${c:encodeURL('~./zul/fonts/OpenSans-Regular.ttf')});")
}

@font-face {
  font-family: 'Open Sans';
  font-style : italic;
  e("src: url(${c:encodeURL('~./zul/fonts/OpenSans-Italic.ttf')});")
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold');
    e("src: url(${c:encodeThemeURL('~./zul/fonts/SourceSansPro-Bold.woff2')}) format('woff2'),")
         e("url(${c:encodeThemeURL('~./zul/fonts/SourceSansPro-Bold.woff')}) format('woff');")
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular');
    e("src: url(${c:encodeThemeURL('~./zul/fonts/SourceSansPro-Regular.woff2')}) format('woff2'),")
         e("url(${c:encodeThemeURL('~./zul/fonts/SourceSansPro-Regular.woff')}) format('woff');")
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic');
    e("src: url(${c:encodeThemeURL('~./zul/fonts/SourceSansPro-Italic.woff2')}) format('woff2'),")
         e("url(${c:encodeThemeURL('~./zul/fonts/SourceSansPro-Italic.woff')}) format('woff');")
    font-weight: normal;
    font-style: italic;
}
